
form
  .row-fluid
    .span1
      span Query
  .row-fluid
    .span10
      textarea(name="query" style="width: 100%; height: 125px")
  .row-fluid
    .span1
      input.btn(type="submit" value="Send")
